.pokemon-list {
  background-color: hsl(48, 100%, 50%);
  color: #001685;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.pokemon-list:hover {
  background-color: #30b300;
  transform: scale(1.05);
}

.pokemon-list:active {
  background-color: #004085;
  transform: scale(0.95);
}
